{% extends 'mybase.html' %}
{% load base_tags %}
    {% load static %}
    {% block alarm %}{% endblock %}
    {% block body %}
{% for cat in category %}
{% comment %} <div class=" container py-4 mx-0"> {% endcomment %}
<img class="img-fluid ms-5" src="{{cat.image.url}}" width="30" height="30">   
{% comment %} {% if cat.parent == null %} {% endcomment %}
<a class=" link-dark text-decoration-none" href="{% url 'myapp:categorychild' cat.slug %}">{{cat.title}}</a>
<hr >
{% comment %} {% endif %} {% endcomment %}
{% endfor %}
{% comment %} </div> {% endcomment %}

{% endblock %}
