{% extends 'mybase.html' %}
{% load static %}
{% load base_tags %}

{% block alarm %}{% endblock %}
{% block body %}
{% for cat in categoris %}
<div style="text-align:right">
    {% if cat.mtitle %}
    <h3 style="text-align:center">{{cat.mtitle}}</h3>
    {% else %}
    <h4 style="text-align:center"> {{cat.title}}</h4>
    {% endif %}
    {% if cat.msubtitle %}
    <h4 style="text-align:center"> {{cat.msubtitle}}</h4>
    {% endif %}
    {% if cat.mdescription %}
    <h4 style="text-align:right"> {{cat.mdescription}}</h4>
    {% endif %}
   {% for book in bookis %}
   {% if cat.title in book.category_to_list %}




   <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                    <img src="{{book.image.url}}">
                    <h3 class="post-title" style="text-align:right;"><a class='text-decoration-none' href="{% url 'myapp:detail' book.slug %}">{{book.title}}</a></h3>
                    {% if book.subtitle %}
                    <h4 class="post-subtitle" style="text-align:right">{{book.psubtitle}}</h4>
                    {% endif %}
                    

               
                <div class="post-meta">
                    <h4 class="post-subtitle" style="text-align:right">
نویسنده:                          {{book.author}}</h4>
                      </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
           
        </div>
    </div>
</div>


   {% endif %}
     {% endfor %}
{% endfor %}
{% endblock %}
