<div style="text-align:right">
<h1 >قوانین استفاده از طاقچه</h1>
<h2>مقدمه و کلیات قوانین</h2>
کلیهٔ اصول و رویه‌های طاقچه منطبق بر قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف‌کننده است. متعاقباً شما نیز موظف به رعایت قوانین رسمی و جاری مرتبط با کاربر هستید. در صورتی که در آینده تغییراتی در قوانین، رویه‌ها و خدمات طاقچه ایجاد شود، مقررات در همین صفحه منتشر و به‌روزرسانی می‌شود و شما از حال حاضر توافق می‌کنید که استفاده‌تان از طاقچه در هر زمان، به‌معنی پذیرش قوانین طاقچه در همان زمان است.

«کاربر» به شخصی گفته می‌شود که با ثبت اطلاعات کاربری در فرم ثبت‌نام، از امکانات طاقچه استفاده می‌کند. همچنین از آنجا که طاقچه یک وب‌سایت و اپلیکیشن خرده‌فروشی آنلاین است، طبق قانون تجارت الکترونیک، «مشتری» یا «مصرف‌کننده» هر شخصی است که به منظوری جز تجارت یا شغل حرفه‌ای (غیر از حرفه‌های مربوط به حوزه‌های آموزش و پژوهش) به خرید یا استفادۀ خدمات اقدام می‌کند.

نرم‌افزار طاقچه برای مطالعه یا شنیدن قانونی کتاب الکترونیکی و صوتی روی دستگاه‌های هوشمند و سیستم‌عامل‌های رایانه‌ای تولید شده است. می‌توانید بدون ثبت‌نام به سایت و نرم‌افزار طاقچه دسترسی داشته باشید؛ ولی برای خرید محتوا یا عضویت در خدمات اشتراکی، ابتدا باید در سایت یا اپلیکیشن طاقچه یک حساب کاربری بسازید.

آدرس ایمیل و تلفن‌هایی که در حساب کاربری خود ثبت کرده‌اید، تنها راه ارتباط رسمی ما با شماست. تمام پیام‌های ما تنها از همین راه فرستاده می‌شود.

تنها مراجع رسمی مورد تأیید ما برای ارتباط با شما، پایگاه رسمی سایت طاقچه یعنی www.taaghche.com و نشانی‌های ایمیل @taaghche.ir است. ما با هیچ روش دیگری جز ارسال پیامک و نامه از طرف آدرس‌های رسمی و تأییدشده در سایت، با شما تماس نمی‌گیریم. کاربران برای برقراری ارتباط با طاقچه، تنها می‌توانند از آدرس‌هایی که در بخش «ارتباط با ما» نوشته شده، استفاده کنند.

<h2>حدود مسئولیت طاقچه</h2>
مسئولیتِ طاقچه در برابرِ محتوایِ آثار، هم‌سطحِ کتابخانه‌هایِ عمومی، کتابفروشی‌ها و دکه‌هایِ روزنامه است.
مسئولیت محتوای هرگونه نظر، توصیه، پیشنهاد، بیانیه، خدمات یا اطلاعاتی که به واسطۀ طرف سوم قرارداد (یعنی ناشران و تأمین‌کنندگان محتوا) در قسمت‌های مختلف طاقچه قرار می‌گیرد، به‌عهدۀ نویسنده، ناشر و پخش‌کنندهٔ آن است، نه طاقچه.
طاقچه به‌هیچ‌وجه اطلاعات و قضاوت‌هایی را که پدیدآورندهٔ محتوا یا کاربر ثبت و عرضه می‌کند، تأیید یا تکذیب نمی‌کند و در برابر آن مسئولیتی ندارد. این مسئولیت تنها هنگامی بر عهدهٔ طاقچه است که سخنگوی رسمی آن در جایگاه موقعیت حرفه‌ای‌اش اعلام نظر کند یا بیانیه‌ای بدهد.
مالکیت طاقچه بر محتوای تولیدی خود
تمام محتواهایی که از طریق هریک از خدمات طاقچه در دسترس قرار می‌گیرند و طاقچه آنها را تولید کرده، مانند داده‌ها، متن، گرافیک، آرم، آیکون دکمه، تصاویر، ویدئوهای تصویری و موارد قابل دانلود و کپی، جزئی از اموال طاقچه محسوب می‌شود و حق استفاده و نشر تمام یا بخشی از آن در انحصار طاقچه است. هرگونه استفاده از این محتواها بدون کسب مجوز کتبی رسمی از طاقچه، حق پیگرد قانونی را برای طاقچه محفوظ می‌دارد.

<h2>تخلف از مقررات توافق‌شده</h2>
هر زمان که کاربر برخلافِ قوانین و مقررات استفاده از طاقچه عمل کند، طاقچه این حق را برایِ خود محفوظ می‌دارد که بلافاصله دسترسیِ او را به خدمات طاقچه معلق کند یا به‌طورِ کلی به پایان برساند و حساب کاربر را (یا بخشی از آن را) مسدود کند. طاقچه می‌تواند هرکدام از این جنبه‌های خدماتش را به‌تناسب وضعیت برای کاربر تغییر دهد یا به‌صورت دائم یا موقت مسدود کند:

<h3>زمانِ دسترسی کاربر به خدمات؛</h3>
مقدارِ مصرف کاربر از خدمات؛
حدود استفادۀ کاربر از خدمات.
سیاست قیمت‌گذاری
قیمت‌های گذاشته‌شده بر کتاب‌ها در طاقچه قیمت‌هایی است که تماماً توسط صاحب امتیاز مادی اثر ثبت شده و طاقچه هیچ‌گونه دخالتی در آن ندارد.

کپی‌رایت و حق نشر محتواهای عرضه‌شده
برای رعایت حق نشر و تکثیر (کپی‌رایت) و حقوق ناشران و مؤلفان، امکان پرینت گرفتن، کپی کردن، ذخیرۀ تصاویر، ارسال فایل کتاب‌ها و به‌اشتراک‌گذاری آنها وجود ندارد.
در کتاب‌های غیررایگان، تعدادی از صفحات کتاب (به اختیار و انتخاب ناشر) در نرم‌افزار با عنوان «نمونه» نمایش داده می‌شوند و مطالعۀ آنها رایگان است. شما می‌توانید با پرداخت هزینه، نسخۀ کامل کتاب را به‌صورت قانونی دانلود کنید. سهم عمدۀ این مبلغ به صاحب امتیاز اثر پرداخت می‌شود.
شرایط عمومی استفاده از طاقچه
حداکثر با سه دستگاه می‌توانید وارد حساب کاربری خود شوید. در صورت نیاز به اضافه‌کردن دستگاه جدید، برای حذف یکی از سه دستگاه قبلی، ایمیلی به واحد پشتیبانی ارسال کنید. همکاران ما شما را راهنمایی می‌کنند.
می‌توانید کتاب‌هایی را که به آنها دسترسی دارید، زمانی که آنلاین هستید دانلود کرده، به کتابخانهٔ شخصی‌تان اضافه کنید. پس از آن بدون نیاز به اینترنت می‌توانید کتاب‌های دانلودشده را مطالعه کنید. همچنین در نسخۀ تحت وب، می‌توانید با استفاده از مرورگر خود کتاب‌هایتان را به‌صورت آنلاین در سایت طاقچه مطالعه کنید.
کتاب‌هایی که با طاقچه خریده‌اید، برای همیشه در آرشیو حساب کاربری شما باقی می‌ماند.
از کتاب‌هایی که با طاقچه خریده‌اید، فقط در اپلیکیشن‌های کتابخوان طاقچه می‌توانید استفاده کنید.
اپلیکیشن طاقچه تحت نسخه‌هایی از سیستم عامل‌های ویندوز، اندروید، آی‌او‌اس و روی دستگاه‌هایی که همچنان توسط شرکت سازندهٔ آن پشتیبانی می‌شود، در دسترس است؛ اما به هر دلیلی، از جمله تحریم‌ها، ممکن است اپلیکیشن طاقچه در برخی سیستم عامل‌ها از دسترس خارج شود.
کاربران به‌هیچ‌وجه حق تعدیل، فروش، انتشار، انتقال یا بازتولید محتواهای عرضه‌شده بر طاقچه را چه به‌صورت جزئی و چه کلی ندارند.
پس از پرداخت یا شارژ کیف پول، امکان بازگرداندن وجه به حساب شما فراهم نیست؛ بنابراین لازم است قبل از خرید، با مطالعهٔ نسخۀ نمونۀ کتاب، از تصمیم خود برای خرید کتاب مطمئن شوید.
شرایط استفاده از «طاقچه بی‌نهایت»
با رعایت شرایط زیر، پس از عضویت در طاقچه بی‌نهایت، به تمام کتاب‌های این بخش دسترسی دارید. بخشی از هزینه‌ای که به عنوان حق اشتراک می‌پردازید، به ناشر پرداخت می‌شود. میزان پرداخت به ناشر را براساس زمان مطالعهٔ کتاب‌ها محاسبه می‌کنیم. بنابراین هرچقدر بیشتر مطالعه کنید، صاحبان حقوق مادی کتاب درآمد بیشتری کسب می‌کنند.

به همین دلیل قوانین زیر را برقرار کرده‌ایم تا بتوانیم حق صاحبان امتیاز را رعایت کنیم:

برای هر کاربر، در هر زمان فقط یک کتاب در وضعیت «درحال خواندن» قرار می‌گیرد و با برداشتن کتاب جدیدی از طاقچه بی‌نهایت، فایل کتاب قبلی از دستگاه کاربر حذف می‌شود تا کتاب جدید در وضعیتِ «درحال خواندن» قرار بگیرد.
در حالت آفلاین، فقط به آخرین کتابی که در وضعیتِ «درحال خواندن» است، دسترسی دارید. برای خواندن کتاب‌های دیگر، باید دوباره به اینترنت وصل شوید.
در هر ۲۴ ساعت، می‌توانید تا ۳۰ کتاب از کتابخانهٔ بی‌نهایت امانت بگیرید.
پس از اتمام عضویت، به کتاب‌هایی که امانت گرفته‌اید، دسترسی رایگان ندارید؛ اما این کتاب‌ها از کتابخانۀ شما حذف نمی‌شوند.
حداکثر زمان عضویت در طاقچه بی‌نهایت، برای هر کاربر ۲ سال است.
کتاب‌های طاقچه بی‌نهایت کتاب‌هایی هستند که با اجازهٔ ناشر به‌صورت اشتراکی در دسترس قرار گرفته‌اند و شما در طول دورۀ اشتراک خود می‌توانید آنها را دریافت کنید. ما پیوسته در تلاشیم که ناشران کتاب‌های جدیدی به کتابخانهٔ بی‌نهایت اضافه کنند؛ اما در هر زمانی ممکن است بنابر تصمیم و صلاحدید ناشر، بعضی از کتاب‌ها از دسترسی اشتراکی حذف شوند. کاربر در برابر حذف شدن یک یا چند کتاب از طرح اشتراک بی‌نهایت محق نیست؛ زیرا هزینهٔ عضویت برای دسترسی به انبوهی از کتاب‌هاست، نه برای دسترسی به یک یا چند کتاب خاص.
نظردهی دربارهٔ کتاب‌ها
در پایین صفحهٔ هر کتاب، بخش نظرات قرار دارد تا بتوانید نظرتان را در مورد کتاب بنویسید یا نظرات دیگران را بخوانید. طاقچه در قبال درستی یا نادرستی نظرات منتشرشده در این قسمت، هیچ‌گونه مسئولیتی ندارد. نمایش نظر کاربران در طاقچه به‌هیچ‌وجه به این معنی نیست که طاقچه محتویات نظر را تأیید یا تصدیق می‌کند. بنابراین تقاضا می‌کنیم نظر دیگران را اصل و پایهٔ انتخاب و تصمیم‌گیری خود برای تهیهٔ کتاب قرار ندهید. برای اینکه بتوان از این بخش بهتر استفاده کرد، توصیه‌هایی دربارهٔ ثبت نظر می‌کنیم و محدودیت‌هایی هم در این باره گذاشته‌ایم.

<h2>توصیه‌ها:</h2>
بهتر است از فضای خالی (Space) بیش از حد معمول، کشیدن حروف یا کلمات، استفادهٔ مکرر از یک حرف یا کلمه، شکلک و ایموجی در متن خودداری کنید.
محتوای کتاب را کمی توضیح دهید.
قسمت‌های مهم کتاب‌ را لو ندهید.
حس خود را از خواندن کتاب بیان کنید.
برای نظر یا نقد و بررسی خود عنوانی متناسب با متن انتخاب کنید. یک عنوان خوب کاربران را برای خواندن نظر شما ترغیب خواهد کرد.
اگر نقدی می‌نویسید، قوت‌ها و ضعف‌های کتاب را از منظر خودتان بنویسید. برای کمک به خوانندگان نظرتان، مزایا و معایب کتاب را به‌صورت خلاصه و تیتروار در محل تعیین‌شده بنویسید و از مبالغه و بزرگ‌نمایی خودداری کنید. نقد مناسب، نقدی است که فقط معایب یا فقط مزایا را در نظر نگیرد، بلکه به‌طور واقع‌بینانه معایب و مزایای هر کتاب را در کنار هم بررسی کند.
تمام کاربران حق دارند نظر خود را به‌شرط رعایت قوانین، در سایت منتشر کنند؛ پس حتی اگر نظری را به‌دور از واقعیت، جانب‌دارانه یا اشتباه یافتید، نباید نظردهنده را مخاطب قرار دهید یا از شخص او انتقاد کنید. هر کاربر تنها می‌تواند نظر خود را بیان کند. در این موارد، بهتر است قضاوت به خوانندگان نظرات واگذار شود.
بهتر است مطالبی در این بخش نوشته شود که برای افراد دیگر مفید باشد. بنابراین از بیان هرگونه مطلب شخصی، غیرمرتبط یا غیرضروری در این بخش پرهیز کنید.
بهتر است نظر خود را به گونهٔ نوشتاری زبان فارسی (نه گفتاری) ثبت کرده، تا جای ممکن از کوتاه‌کردن کلمات یا استفاده از گونهٔ محاوره‌ای زبان بپرهیزید.
محدودیت‌ها:
نظراتی که زیر کتاب یا مجله‌ای نوشته می‌شوند، اگر در مورد آن کتاب یا مجله نباشند، برای نمایش عمومی تأیید نخواهند شد.
نظرهایی که شامل موارد زیر باشند، به نمایش عمومی درنمی‌آیند:
الفاظ رکیک و توهین‌آمیز نسبت به شخص، قومیت‌ها، مقدسات و قوانین عرفی جامعه؛
تبلیغ به‌نفع یا علیه یک یا چند ناشر؛
مطالب ناقض قوانین جمهوری اسلامی ایران یا شئونات عرفی جامعه؛
تبلیغ به‌نفع یا علیه برند یا محصولی دیگر؛
لینک به سایتی دیگر؛
درخواست و دعوت به چت و گذاشتن شمارۀ تلفن، آدرس ایمیل و اطلاعات تماس، نام کاربری افراد یا شناسۀ پیام‌رسان‌ها و رسانه‌های اجتماعی دیگر؛
برای ارسال درخواست‌ها، پیشنهادها، انتقادات یا شکایت‌های خود، از فرم صفحه «تماس با ما» استفاده کنید یا به ایمیل آدرس support@taaghche.ir پیام بفرستید. نقد و نظرهایی که دربارهٔ طاقچه، بسترها یا خدمات آن است، در زیر کتاب‌ها و مجلات برای نمایش عمومی تأیید نخواهند شد.
مباحث خارج از چارچوب که حالت بحث، گفت‌وگو و چت خصوصی دارد، تأیید نخواهند شد.
نظرات خود را فقط به خط فارسی (با کیبورد فارسی) بنویسید.
توجه: اگر کاربری چندین بار محدودیت‌های مذکور را نادیده بگیرد، طاقچه این حق را برای خود محفوظ می‌دارد که قابلیت نظرنویسی آن کاربر را محدود یا مسدود کند.

حریم شخصی
حفظ حریم شخصی شما برای ما بسیار مهم است. از اطلاعات شما تنها برای شخصی‌سازی عرضۀ خدمات و اطلاع‌رسانی استفاده می‌کنیم. تمامی اطلاعاتی که زمان ثبت‌نام در اختیار طاقچه می‌گذارید، نزد ما محفوظ خواهد ماند.

هر کاربری که از خدمات طاقچه استفاده می‌کند، مسئول حفاظت و محرمانه نگه‌داشتن اطلاعات حساب، نام کاربری و رمز عبور خود است. همچنین، تمامی مسئولیت فعالیت‌هایی که تحت حساب کاربری یا رمز ورود کاربر انجام می‌گیرد، به‌عهدهٔ شخص او است.

استفاده از اطلاعات شخصی
اطلاعات شخصی داده‌هایی هستند که می‌توانند برای تشخیص هویت یکتای کاربر مورد استفاده قرار گیرند. نکات مهم مربوط به این اطلاعات در طاقچه، چنین است:

اطلاعات شخصی شما به‌طور مستقیم از طریق خودتان برای ما ارسال می‌شوند.
در حال حاضر تنها اطلاعات شخصی کاربران در طاقچه نشانی ایمیل یا شمارهٔ تلفن همراه است که برای ایجاد حساب کاربری و دریافت خبرنامه در اختیار ما قرار می‌دهید.
نشانی ایمیل شما به‌هیچ‌عنوان در اختیار شرکت‌ها و مؤسسات دیگر قرار نخواهد گرفت.
نشانی ایمیل هر کاربر در فهرست دریافت‌کنندگان خبرنامۀ طاقچه ثبت می‌شود. از طریق خبرنامه، فقط اطلاعات مربوط به طاقچه و کتاب‌های آن و همچنین اطلاع‌رسانی‌های مرتبط با کاربران طاقچه به ایشان ارسال خواهد شد.
شماره‌ٔ تلفن شما نزد طاقچه محفوظ است و به‌هیچ‌وجه به شرکت‌ها و مؤسسات دیگر داده یا فروخته نمی‌شود. ممکن است در همکاری‌های تبلیغاتی با سازمان‌های دیگر، پیامک تبلیغاتی سازمان همکار را از سرشماره‌‌ٔ طاقچه برایتان بفرستیم؛ اما شمارهٔ شما به آن سازمان داده نمی‌شود.
مجوزهای جمع‌آوری اطلاعات
هنگامی‌که اپلیکیشن طاقچه را نصب یا استفاده کنید، نرم‌افزار از شما اجازه می‌گیرد که اطلاعات زیر را به‌صورت ناشناس از شما دریافت کند:
نوع دستگاهی که طاقچه در آن استفاده می‌شود؛ زبان و نوع سیستم عامل دستگاه؛ شناسۀ اندروید و شناسۀ تبلیغاتی اندروید ویژۀ دستگاه شما (در دستگاه‌های مبتنی بر اندروید)؛ جست‌وجوهایی که در وب‌سایت و اپلیکیشن طاقچه انجام داده‌اید و نتایجی که انتخاب کرده‌اید؛ مدت و بازه‌های زمانی استفادۀ شما از طاقچه؛ اطلاعات فنی و گزارش‌های سرور شامل نوع شبکه، نسخه و نوع مرورگری که استفاده کرده‌اید.
اطلاعات فوق در حد ضرورت جمع‌آوری می‌شوند و به‌نحوی مورد استفاده قرار می‌گیرند که به‌طور مستقیم به یک شخص حقیقی مشخص و معین مرتبط نباشند. استفاده از این اطلاعات برای مقاصدی از این دست است: بررسی علت گزارش خطا و بهبود اشکالات سیستمی؛ بهبود تجربهٔ کاربر در هنگام استفاده از وب‌سایت و اپلیکیشن طاقچه؛ تحقیقات بازاریابی؛ عرضهٔ خدمات یا پیشنهاد خرید مرتبط‌تر به کاربران.
این اطلاعات تنها توسط طاقچه یا نمایش به خود کاربر استفاده می‌شود و در اختیار شریک تجاری دیگری قرار نمی‌گیرد.
در صورت بروز وقفه (Crashes) در عملکرد نرم‌افزار طاقچه، اطلاعات زیر جهت بررسی علت بروز وقفه و رفع خطا جمع‌آوری می‌شود:
وضعیت روت بودن یا نبودن دستگاهی که طاقچه در آن استفاده می‌شود؛ میزان کل رَم (RAM) دستگاه و مقدار فضای پُر آن در هنگام بروز وقفه؛ روز و ساعت رخدادهای مربوط به وقفه در دستگاه؛ خاموش یا روشن بودن شبکهٔ بی‌سیم دستگاه؛ خاموش یا روشن بودن شبکهٔ داده (دیتا) در دستگاه؛ خاموش یا روشن بودن وضعیت رومینگ دستگاه.
اگر از نسخهٔ وب طاقچه استفاده کنید، اطلاعات ذکر شده توسط کوکی (cookie) جمع‌آوری می‌شود. کوکی فایلی است که به درخواست یک سایت، توسط مرورگر ایجاد می‌شود و به سایت امکان ذخیرهٔ بازدید‌های شما و مناسب‌سازی آنها را فراهم می‌نماید. بسیاری از مرورگرها امکان غیرفعال کردن کوکی را فراهم کرده‌اند، به این منظور می‌توانید راهنمای مرورگرها را مطالعه کنید.