{% extends "base.html" %}
{% load static %}

{% block title %}دانلود و خرید کتاب و کتاب صوتی با طاقچه{% endblock %}
{% block main %}
                    <!-- Post preview-->
                    <div class="post-preview" >
                        <a href="post.html"></a>
                            {% for book in object_list %}

                            <h2 class="post-title">
                                <img src="{{book.image.url}}">
                                <a href="{% url 'myapp:detail' book.slug %}"> </h2>
                                
                              <h2>  {{book.title}}</a></h2>
                            {% if book.subtitle %}
                            <h4 class="post-subtitle">{{book.subtitle}}</h4>
                            {% endif %}
                          <p> {{book.description|truncatewords:40|linebreaks}}</p>
                                                                              

                        <p class="post-meta">

                         نویسنده:   {{book.author}}                       
                        </p>
                        {% if book.comments.count == 0 %}
                                   <p>تاکنون نظری ارسال نشده است.</p>
                                   {% else %}
                                   {% if  book in comments %}
                                   <p>{{ book.comments.count }} نظر </p>
                                       {% endif %}

                                
                                      <p>   <a href="{% url 'myapp:old_comment'  book.slug %}"><p>مشاهده  نظرات</a></p>
                                       {% endif %}

                        <p>  <a href="{% url 'myapp:new_comment'  book.slug %}">ارسال نظر</a></p>

                        {% endfor %}
                       
                    <!-- Divider-->
                    
                   
                    {% endblock %}
                   