{% extends 'mybase.html' %}
{% load static %}
{% block alarm %}{% endblock %}
{% block body %}

<body>
        <!-- Navigation-->
        <div class="container">
            <div class="row">
                <div class="col-8">
<img class="img-fluid" src="https://taaghche.com/images/subscription/infinite/title.svg">
    <div>
با هزینهٔ خرید یک کتاب، به هزاران کتاب الکترونیکی متنی و صوتی دسترسی داری.</div>
<div>
<br>
کتابخانه‌ات را همیشه و همه جا می‌توانی همراهت داشته باشی.
</div>
<br>

<div>
هر ماه کتاب‌های جدید و پرطرفدار به این کتابخانه اضافه می‌‌شود.
</div>
<br>

<div>
هنوز همه‌ی کتاب‌های الکترونیکی طاقچه به طاقچه‌بی‌نهایت اضافه نشده‌اند.

</div>
<br>

<button type="button" class="btn btn-primary"><a class="link-dark text-decoration-none" href="{% url 'myapp:reinfinity' %}">خرید اشتراک</a></button>
</div>
<div class="col">
    <img class="img-fluid" src="https://taaghche.com/images/subscription/infinite/taaghche-infinite2.png">
</div>
<div class="row">
    <div class="col-12">
    <img class="img-fluid w-100" src="https://taaghche.com/images/subscription/infinite/subscriptionBanner.svg">
    </div>
</div>



{% endblock %}