
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light"  style="text-align:right" id="mainNav">
        <div class="container px-4 px-rg-5">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"  href="{% url 'myapp:api' %}">طاقچه</a>
                 <a href="{% url 'myapp:categoris' %}"">دسته بندی</a>
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'myapp:categorychild' 'audio' %}">صوتی</a>
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="#"> جستجو</a>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light"  style="text-align:left" id="mainNav"> 
                <a class="navbar-brand" style="text-align:left" href="index.html">نصب طاقچه</a>
                <a class="navbar-brand" style="text-align:left !important;" href="index.html">ورود</a>
                       </div>
    </nav>



<div style="text-align:center;"><h1>:)خوش برگشتی</h1></div>
<form method="post" style="text-align:center;">{% csrf_token %}
    {{form.as_p}}
<div>حساب کاربری نداری؟  <a href="#">ثبت نام </a> </div>
<div><a href="{% url 'myapp:ghav' %}">قوانین استفاده از طاقچه </a><div>
<button type="submit">ورود</button>
</body>