


<form style="text-align:center" action="/action_page.php">
  <h1> نوع عضویت طاقچه بی‌نهایت</h1>
  <label for="html">عضویت یک هفته‌ای ( ۱۵٬۰۰۰ تومان)</label>
  <input type="radio" id="html" name="fav_language" value="HTML">

<br>
  <label for="css">    (عضویت یک ماهه (۱۵٬۰۰۰ تومان 
</label>  <input type="radio" id="css" name="fav_language" value="CSS">
<br>
  <label for="javascript">(عضویت سه ماهه (۳۹٬۰۰۰ تومان</label>  <input type="radio" id="javascript" name="fav_language" value="JavaScript">
<br>
  <label for="javascript">(عضویت سه ماهه (۳۹٬۰۰۰ تومان</label><input type="radio" id="javascript" name="fav_language" value="JavaScript">
<br>
  <label for="javascript5">عضویت شش ماهه (۵۹٬۰۰۰ تومان )</label><input type="radio" id="javascript5" name="fav_language" value="JavaScript5">
<br>
  <label for="javascript2">(عضویت یک ساله (۹۹٬۰۰۰ تومان </label><input type="radio" id="javascript2" name="fav_language" value="JavaScript2">
<br>
  <label for="javascript3">از موجودی کیف پول استفاده شود(قابل استفاده: ۰ تومان)
</label><input type="radio" id="javascript3" name="fav_language" value="JavaScript3">
<br>

<h3 id="text" style="text-align:center"><a href="#">پرداخت اینترنتی </a></h3></p>


